# Modify environment variables sent to PHP.
<IfModule mod_env.c>
  # Set the timezone to Central Time.
  SetEnv TZ America/Chicago
</IfModule>

# Various mod_rewrite rules.
<IfModule mod_rewrite.c>
  RewriteEngine on

  # Proxy requests to web/ without revealing we're located in a subdirectory.
  RewriteRule ^$ web/$1 [S=1]

  RewriteCond %{REQUEST_URI} !^/web
  RewriteRule ^(.*)$ web/$1

  # If `http://` and no `www` prefix, re-write to `https://`.
  RewriteCond %{HTTPS} !on
  RewriteCond %{HTTP_HOST} !^www\. [NC]
  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

  # If `www` prefix, re-write to `https://` and strip `www`.
  RewriteCond %{HTTPS} .
  RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
  RewriteRule ^ https://%1%{REQUEST_URI} [R=301,L]
</IfModule>
