# Modify environment variables sent to PHP.
<IfModule mod_env.c>
  # Set the timezone to Central Time.
  SetEnv TZ America/Chicago
</IfModule>

# Various mod_rewrite rules.
<IfModule mod_rewrite.c>
  RewriteEngine on

  # Redirect to https:// if we were accessed via http://.
  RewriteCond %{HTTPS} !=on
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # Proxy requests to web/ without revealing we're located in a subdirectory.
  RewriteRule ^$ web/$1 [L]
  #RewriteCond %{REQUEST_URI} !^/web/
  #RewriteRule ^(.*)$ web/$1 [L]

  # Modify the RewriteBase if you are using Drupal in a subdirectory or in a
  # VirtualDocumentRoot and the rewrite rules are not working properly.
  # For example if your site is at http://example.com/drupal uncomment and
  # modify the following line:
  # RewriteBase /web
  #
  # If your site is running in a VirtualDocumentRoot at http://example.com/,
  # uncomment the following line:
  # RewriteBase /
</IfModule>
